body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-display: column;
    background: #EBF2F7 !important;
}

.wrapper{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 1400px !important;
    border-radius: 20px !important;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
}

.top{
    padding-top: 35px;
    height: 250px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(226, 228, 255) !important;
}

.title{
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 4rem;
}

.create-Btn{
    border: none !important;
    background: #54ffac;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 20px !important;
    font-weight: bold;
    color: #fff;
    border-radius: 8px !important;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
}

/*create task*/
.form-group{
    margin-bottom: 20px;
    margin-top: 10px;
}
.label{
    font-weight: 500;
    font-size: 18px;
}
.form-control{
    margin-top: 10px;
    background: #fff;
    border-color: rgb(133, 133, 133) !important;
    border-radius: 8px !important;
    padding: 10px !important;
    
}



/*Cards*/

.card-wrapper{
    display: grid;
    padding: 6rem;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
}

.card{
    border: none !important;
    border-radius: 10px !important;
    padding: 10px; 
}
.card-ver{
    border-bottom: 4px solid rgb(77, 226, 72) !important;
    border-radius: 10px !important;
    padding: 10px; 
    width: 350px;
    height: 200px;box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
}